<!DOCTYPE html>
<html>
<head>
 <title>searchTownApp</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <form action="{% url 'search_from_endpoint' %}" method="post">{% csrf_token %}
            <input id="search_from_endpoint" type="text" name="search_from_endpoint" placeholder="Chercher">
            <button type="submit">Chercher</button>
        </form>
    </div>
    <div>
        <br />
        <a href="{% url 'edit' 777 %}">
            <button type="button">
                Create
            </button>
        </a>
        <br />
    </div>
{% block content %}
{% endblock %}
</body>
</html>