{% extends 'searchTownApp/base.html' %}
{% block content %}
<div>
    <div>
        <div></div>
        <div >
            <br />
            <h6 style="text-align:center;">
                <font color="red"> All fields are required</font>
            </h6>
        </div>
        <div>
        </div>
    </div>
    <div>
        <div></div>
        <div>
            <form method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit">submit</button>
            </form>
            <br>
        </div>
        <div></div>
    </div>
</div>
{% endblock %}