{% extends 'searchTownApp/base.html' %}
{% block content %}

<h1 class="mb-1 text-sm sm:text-3xl text-gray-600 font-bold text-center m-4">Edition des informations de la commune de {{ town.nameTown }} </h1>
<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3">
    <div class="m-2 max-w-1xxl mx-auto bg-green-100 rounded-xl shadow-xl overflow-hidden">
        <div class="p-8">
            <ul class="divide-y divide-gray-300">
                <li>
                    Nom de la commune : {{ town.nameTown }}
                </li>
                <li>
                    Code de la commune : {{ town.codeTown }}
                </li>
                <li>
                    Latitude de la commune (DD.dddd) : {{ town.centerCoordinateLat }}
                </li>
                <li>
                    Longitude de la commune (DD.dddd) : {{ town.centerCoordinateLong }}
                </li>
                <li>
                    Surface de la commune (km²) : {{ town.surface }}
                </li>
                <li>
                    Nombre d'habitants de la commune : {{ town.population }}
                </li>
                <li>
                    Code postal de la commune : {{ town.townPostalcode }}
                </li>
                <li>
                    Code de la région de la commune : {{ town.codeRegion }}
                </li>
                <li>
                    Code du département de la commune : {{ town.codeDepartement }}
                </li>
                <li>
                    <form action="{% url 'around' %}" method="post">{% csrf_token %}
                        Chercher à
                        <input
                                class="m-1 border border-2 border-green-200 focus:outline-none focus:ring-2 focus:ring-green-600
                                focus:border-transparent text-gray-400 font-bold py-2 px-4 rounded-full"
                                id="dist" type="text" name="dist" placeholder="distance">
                        km autour de cette commune :
                        <input
                                class="m-1 border border-2 border-green-200 focus:outline-none focus:ring-2 focus:ring-green-600
                                focus:border-transparent text-gray-400 font-bold py-2 px-4 rounded-full"
                                id="lat" type="text" name="lat" value={{ town.centerCoordinateLat }}>
                        <input
                                class="m-1 border border-2 border-green-200 focus:outline-none focus:ring-2 focus:ring-green-600
                                focus:border-transparent text-gray-400 font-bold py-2 px-4 rounded-full"
                                id="lon" type="text" name="lon" value={{ town.centerCoordinateLong }}>
                        <button
                                class="m-1 bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600
                                focus:ring-opacity-50 text-white font-bold py-2 px-4 rounded-full"
                                type="submit">Chercher</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-2 max-w-1xxl mx-auto bg-green-100 rounded-xl shadow-xl overflow-hidden">
        <div class="p-8">
            <form method="post">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                {% for field_geoForm in geoForm %}
                    {{ field_geoForm.label_tag }}
                    {{ field_geoForm }}
                {% endfor %}
                <button
                        class="bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-600
                        focus:ring-opacity-50 text-white font-bold py-2 px-4 rounded-full m-4"
                        type="submit">Soumettre</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}