{% extends 'searchTownApp/base.html' %}
{% block content %}
<div>

<h1>Pour tout savoir sur la commune de votre choix. </h1>
    <!--{% for town in town_list %}
        <div>
                <ul>

                    <li>
                        {{ town.nameTown }}
                        {{ town.pk }}
                    </li>
                </ul>
                <br />
                <div>
                    <a href="{% url 'detail' town.pk %}">
                    <button type="button">
                        Detail {{ town.pk }}
                    </button></a>
                </div>
                <div>
                    <a href="{% url 'edit' town.pk %}">
                    <button type="button">
                        Edit {{ town.pk }}
                    </button></a>
                </div>
                <div>
                    <a href="{% url 'delete' town.pk %}">
                    <button type="button">
                        Delete {{ town.pk }}
                    </button></a>
                </div>
            </a>
        </div>
    {% endfor %}-->
</div>
{% endblock %}
