{% extends 'searchTownApp/base.html' %}
{% block content %}
<div>
    <div>
        <div></div>
        <div>
            <br />
            <a href="{% url 'create' %}">
                <button type="button">
                    Create
                </button>
            </a>
        </div>
    </div>
    <br />
    {% for town in town_list %}
    <div>
        <div></div>
        <div">
            <ul>

                <li>
                    <a href="{% url 'detail' town.pk %}"> DDD </a> <span></span>
                </li>
            </ul>
            <br>
        </div>
        <div>
            <a href="{% url 'detail' town.pk %}">
                <button type="button">
                    <span></span>
                </button>
            </a>
        </div>
        <div>
            <a href="{% url 'edit' town.pk %}">
                <button type="button">
                    <span></span>
                </button>
            </a>
        </div>
        <div>
            <a href="{% url 'delete' town.pk %}">
                <button type="button">
                    <span></span>
                </button>
            </a>
        </div>
        <div></div>
    </div>
    {% endfor %}
</div>
{% endblock %}