<!DOCTYPE html>
<html>

<head>
    <title>Edit Contact</title>
    <meta charset="utf-8">

</head>

<body>
<div>
    <ul>
        <li>
            {{ town.nameTown }}
        </li>
        <li>
            {{ town.codeTown }}
        </li>
        <li>
            {{ town.centerCoordinateLat }}
        </li>
        <li>
            {{ town.centerCoordinateLong }}
        </li>
        <li>
            {{ town.surface }}
        </li>
        <li>
            {{ town.population }}
        </li>
        <li>
            {{ town.townPostalcode }}
        </li>
        <li>
            {{ town.codeRegion }}
        </li>
        <li>
            {{ town.codeDepartement }}
        </li>
    </ul>
</div>
</body>
</html>