{% extends 'searchTownApp/base.html' %}
{% block content %}
<div>
    <ul>
        <li>
            Nom de la commune : {{ town.nameTown }}
        </li>
        <li>
            Code de la commune : {{ town.codeTown }}
        </li>
        <li>
            Lattitude de la commune : {{ town.centerCoordinateLat }}
        </li>
        <li>
            Longitude de la commune : {{ town.centerCoordinateLong }}
        </li>
        <li>
            Longitude et lattitude de la commune : {{ town.center }}
        </li>
        <li>
            Surface de la commune : {{ town.surface }}
        </li>
        <li>
            Population de la commune : {{ town.population }}
        </li>
        <li>
            Code postal de la commune : {{ town.townPostalcode }}
        </li>
        <li>
            Code de la région de la commune : {{ town.codeRegion }}
        </li>
        <li>
            Code du département de la commune : {{ town.codeDepartement }}
        </li>
    </ul>
</div>
{% endblock %}